html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: 1rem/1.42 ubuntu-bd,Verdana,Arial,sans-serif;
  /*font-style: italic;
	font-weight: bold;*/
}
h2 {
    outline: 3px solid;
    outline-color: #0064A5;
    border-radius: 5px;
    color: #0064A5;
    font-weight: bolder;
}
.table{
      color: #0064A5;
}
body {
background: linear-gradient(90deg, rgba(248,249,250,0.2) 0%, rgba(93,183,228,0.3) 50%, rgba(248,249,250,0.2) 100%),
  url("../images/entreprise/BG.jpg");
    background-attachment: fixed;
  background-position: center;  
  background-repeat: no-repeat;
  background-size: cover;
}

section.repair img {
  position: relative;
  left: 5%;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
section.create img {
  position: relative;
  left: -15%;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
section.maintenance img {
  position: relative;
  bottom: -10%;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
section img.active {
  left: 0;
  opacity: 1;
}

/*
    DEMO STYLE
*/

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
}

#sidebar.active {
  min-width: 100px;
  max-width: 100px;
  text-align: center;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar ul.components {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  position: fixed;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar ul li a {
    padding: 20px 0px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}
